@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Playfair:ital,wght@0,600;1,300&display=swap');

/*Estilos da pagina index.html*/

main {
    width: 80vw;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color:#1e272e;
    margin-bottom: 1.5rem;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #535c68;
}

.logo{
    
    color: grey;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.05rem;
    align-items: center;
}


#menu li{

    display: inline;
    padding: 20px;
}

ul {

    height: 60px;
    width: 2000px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#353b48;
}

#menu li a{
    

    text-decoration: none;
    color: grey;
    
}

.barra_central {
    
    background-color: #1e272e;
    justify-content: center;
}

.alinhando{
    display: flex;
    justify-content: center;
}

.logo{
   color: #1e272e;
}

.titulo{
    
    font-size: 40px;
    font-family: 'Playfair';

}

.foto{

    border-radius: 50%;
    border-style: inset;
    width: 220px; 
    height: 220px;
    
}

h1{
    color: #1e272e;
    text-align: center;
    font: size 30px;
    font-family: 'Playfair';
}

h2{
    text-align: center;
    color: #1e272e;
}

#video{

    margin: 0 auto;
    width: 500px;
}


.container{
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   margin-inline: 50px;
   border-style: double;
   background-color: #808e9b;
}


.foto2{
    border-radius: 3%;
    border-style: inset;
    width: 120px; 
    height: 120px;
    align-items: left;

}

footer {
    
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
    display: flex;

    background-color: #353b48;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/* Estilos da pagina contato.html*/

#contato {
    width: 80vw;
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 2.5rem;
    font-family: 'Playfair';
}

.icone{

    border-radius: 50%;
    border-style: inset;
    width: 120px; 
    height: 120px;
    align-items: left;

}

#formulario_mensagem {
    color:grey;
    width: 50vw;
    font-family: 'Playfair';
    
}


#formulario_buscacep {
    color:grey;
    width: 40vw;
    font-family: 'Playfair';
}


label {
    font-family: 'Playfair';
    font-size: 1.15rem;
    margin-left: 1rem;
    font-weight: 500;
}


input,
textarea,
button {
    font-family: 'Playfair';
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    
}


input,
textarea {

 color: black;

}

input::placeholder,
textarea::placeholder {

    color: rgb(8, 8, 7);
    
}


input:focus,
textarea:focus {

    outline: 1px solid red; 
}


button {
    
    font-family: 'Playfair';
    cursor: pointer;
    border: 2px solid;
    

}


button:hover {

    border-style: double;
    background-color: black;
    color:grey

}


.campos-form {
    margin-bottom: 1rem;
}

.by{
    color: grey;
}

#txtNome,
#txtEmail,
#txtMensagem,
#txtCep {
    font-size: 1rem;
    padding: 0.25rem 0;
}

